{% extends "menu_bar.html" %}
    {% block head %}
        {{ super() }}
        <script src="static/addClient.js"></script>
    {% endblock %}
    {% block content %}
        <form class="ui form segment">
            <h3 class="ui dividing header">Client</h3>
            <div class="field">
                <label>Name</label>
                <input id="client_name" type="text" name="client_name" placeholder="Name">
            </div>
            <button id="submit" class="ui violet button">
                Create Client
            </button>
            <a href="/clients" id="cancel" class="ui red button">
                Cancel
            </a>
            <div class="ui error message">
            </div>
        </form>
    {% endblock %}
