{% extends "menu_bar.html" %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href="static/flatpickr.min.css">
        <script src="static/flatpickr.min.js"></script>
        <script src="static/index.js"></script>
        <script src="static/addFeature.js"></script>
    {% endblock %}
    {% block content %}
        <form class="ui form segment" action="/addFeature" method="POST">
            <h3 class="ui dividing header">Feature Request</h3>
            <div class="field">
                <label>Title</label>
                <input type="text" name="request_title"
                    placeholder="Request Title">
            </div>
            <div class="field">
                <label>Description</label>
                <input type="text" name="request_description"
                    placeholder="Description">
            </div>
            <div class="field">
                <label>Client</label>
                <select class="ui fluid dropdown" name="client">
                    <option value="">Client</option>
                    {% for client in clients %}
                        <option value="{{client.id}}"> {{client.name}} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label>Priority</label>
                <input type="number" name="client_priority"
                    placeholder="Client Priority">
            </div>
            <div class="field">
                <label>Target Date</label>
                <input id="target-date" type="text" class="flatpickr"
                    data-enable-time="false" name="target_date"
                    placeholder="Target Date">
            </div>
            <div class="field">
                <label>Product Area</label>
                <select class="ui fluid dropdown" name="product_area">
                    <option value="">Product Area</option>
                    {% for product_area in product_areas %}
                        <option value="{{ product_area.id }}"> {{ product_area.name }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label>URL</label>
                <input type="text" name="ticket_url"
                    placeholder="Ticket URL">
            </div>
            <button class="ui violet button" tabindex="0" type="submit">
                Submit Feature Request
            </button>
            <a href="/index" class="ui red button" tabindex="0" type="submit">
                Cancel
            </a>
            <div class="ui error message">
            </div>
        </form>
    {% endblock %}
