{% extends "menu_bar.html" %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href="static/flatpickr.min.css">
        <script src="static/flatpickr.min.js"></script>
        <script src="static/index.js"></script>
        <script src="static/addFeature.js"></script>
    {% endblock %}
    {% block content %}
        <form class="ui form segment">
            <h3 class="ui dividing header">Feature Request</h3>
            <div class="field">
                <label>Title</label>
                <input type="text" name="request_title"
                    placeholder="Request Title">
            </div>
            <div class="field">
                <label>Description</label>
                <input type="text" name="request_description"
                    placeholder="Description">
            </div>
            <div class="field">
                <label>Client</label>
                <select class="ui fluid dropdown" name="client">
                    <option value="">Client</option>
                    <option value="1">Client A</option>
                    <option value="2">Client B</option>
                    <option value="3">Client C</option>
                    <option value="4">Client D</option>
                    <option value="5">Client E</option>
                </select>
            </div>
            <div class="field">
                <label>Priority</label>
                <input type="number" name="client_priority"
                    placeholder="Client Priority">
            </div>
            <div class="field">
                <label>Target Date</label>
                <input id="target-date" type="text" class="flatpickr"
                    data-enable-time="false" name="target_date"
                    placeholder="Target Date">
            </div>
            <div class="field">
                <label>Product Area</label>
                <select class="ui fluid dropdown" name="product_area">
                    <option value="">Product Area</option>
                    <option value="1">PA 1</option>
                    <option value="2">PA 2</option>
                    <option value="3">PA 3</option>
                    <option value="4">PA 4</option>
                    <option value="5">PA 5</option>
                </select>
            </div>
            <div class="field">
                <label>URL</label>
                <input type="text" name="ticket_url"
                    placeholder="Ticket URL">
            </div>
            <button class="ui violet button" tabindex="0" type="submit">
                Submit Feature Request
            </button>
            <div class="ui error message">
            </div>
        </form>
    {% endblock %}
