{% extends "menu_bar.html" %}
    {% block head %}
        {{ super() }}
        <script src="static/user_validation.js"></script>
        <script src="static/addUser.js"></script>
    {% endblock %}
    {% block content %}
        <form class="ui form segment" action="/users" method="POST">
            <h3 class="ui dividing header">User</h3>
            <div class="field">
                <label>Username</label>
                <input id="username" type="text" name="username" placeholder="Username">
            </div>
            <div class="field">
                <label>Email</label>
                <input id="email" type="email" name="email" placeholder="Email">
            </div>
            <div class="field">
                <label>Password</label>
                <input id="password" type="password" name="password" placeholder="Password">
            </div>
            <div class="field">
                <label>Repeat Password</label>
                <input id="repeat_password" type="password" name="repeat_password" placeholder="Password">
            </div>
            <button id="submit" class="ui violet button">
                Create User
            </button>
            <a href="/users" class="ui red button">
                Cancel
            </a>
            <div class="ui error message">
            </div>
        </form>
    {% endblock %}
