{% extends "menu_bar.html" %}
    {% block head %}
        {{ super() }}
        <script src="static/clients.js"></script>
    {% endblock %}
    {% block content %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="ui violet message">
                    <i class="close icon"></i>
                    <div class="header">
                        Featurette
                    </div>
                    {%for message in messages%}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <h2> Clients </h2>
        <table class="ui sortable celled padded violet table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="clientTable" data-bind="foreach: clients">
                <tr>
                    <td data-bind="text: client_name"> </td>
                    <td class="single line">
                        <a class="edit ui icon violet button">
                            <i class="edit icon"> </i>
                        </a>
                        <a class="delete ui icon red button" data-bind="click: $parent.deleteClient">
                            <i class="delete icon"> </i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot class="full-width">
                <tr>
                    <th colspan="2">
                        <a id="add_client" class="ui right floated button violet" href="/addClient">
                            <i class="add user icon"></i>
                            Add Client
                        </a>
                    </th>
                </tr>
            </tfoot>
        </table>
    {% endblock %}
