{% extends "menu_bar.html" %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href="static/flatpickr.min.css">
        <script src="static/flatpickr.min.js"></script>
        <script src="static/feature_request_validation.js"></script>
        <script src="static/editFeature.js"></script>
    {% endblock %}
    {% block content %}
        <form class="ui form segment" action="/" method="POST">
            <h3 class="ui dividing header">Edit Feature Request</h3>
            <div class="field">
                <label>Title</label>
                <input id="request_title" type="text" name="request_title">
            </div>
            <div class="field">
                <label>Description</label>
                <input id="request_description" type="text" name="request_description">
            </div>
            <div class="field">
                <label>Client</label>
                <select id="client" class="ui fluid dropdown" name="client">
                    <option id="current_client">

                    </option>
                </select>
            </div>
            <div class="field">
                <label>Priority</label>
                <input id="client_priority" type="number" name="client_priority">
            </div>
            <div class="field">
                <label>Target Date</label>
                <input id="target-date" type="text" class="flatpickr"
                    data-enable-time="false" name="target_date">
            </div>
            <div class="field">
                <label>Product Area</label>
                <select id="product_area" class="ui fluid dropdown" name="product_area">
                    <option id="current_product_area">

                    </option>
                </select>
            </div>
            <div class="field">
                <label>URL</label>
                <input id="ticket_url" type="text" name="ticket_url">
            </div>
            <input id="feature_request_id" hidden="true" name="feature_request_id">
            <button id="submit" class="ui violet button">
                Submit Feature Request
            </button>
            <a href="/" class="ui red button" tabindex="0">
                Cancel
            </a>
            <div class="ui error message">
            </div>
        </form>
    {% endblock %}
