{% extends "menu_bar.html" %}
    {% block head %}
        {{ super() }}
        <script src="static/product_area_validation.js"></script>
        <script src="static/editProductArea.js"></script>
    {% endblock %}
    {% block content %}
        <form class="ui form segment" action="/productAreas" method="POST">
            <h3 class="ui dividing header">Edit Product Area</h3>
            <div class="field">
                <label>Name</label>
                <input id="product_area_name" type="text" name="product_area_name">
            </div>
            <input hidden="true" id="product_area_id" name="product_area_id">
            <button id="submit" class="ui violet button">
                Save Changes
            </button>
            <a href="/productAreas" class="ui red button" tabindex="0" type="submit">
                Cancel
            </a>
            <div class="ui error message">
            </div>
        </form>
    {% endblock %}
