{% extends "menu_bar.html" %}
    {% block head %}
        {{ super() }}
        <script src="static/users.js"></script>
    {% endblock %}
    {% block content %}
        <form data-bind="submit: updateUser" class="ui form segment" action="/users" method="POST">
            <h3 class="ui dividing header">Edit User</h3>
            <div class="field">
                <label>Username</label>
                <input id="username" type="text" name="username" data-bind="value: username"
                    required>
            </div>
            <div class="field">
                <label>Email</label>
                <input id="email" type="email" name="email" data-bind="value: email"
                    required>
            </div>
            <div class="field">
                <label>Password</label>
                <input id="password" type="password" name="password"
                    data-bind="value: password" required>
            </div>
            <div class="field">
                <label>Repeat Password</label>
                <input type="password" name="repeat_password" placeholder="Password" required>
            </div>
            <input id="id" hidden="true" name="id"
                data-bind="value: id">
            <button id="submit" class="ui violet button">
                Save Changes
            </button>
            <a href="/users" class="ui red button" tabindex="0" type="submit">
                Cancel
            </a>
            <div class="ui error message">
            </div>
        </form>
    {% endblock %}
