{% extends "menu_bar.html" %}
    {% block head %}
        {{ super() }}
        <script src="static/productAreas.js"></script>
        <script src="static/addProductArea.js"></script>
    {% endblock %}
    {% block content %}
        <form class="ui form segment" action="/editProductArea" method="POST">
            <h3 class="ui dividing header">Edit Product Area</h3>
            <div class="field">
                <label>Name</label>
                <input type="text" name="product_area_name" value="{{ product_area.name }}">
            </div>
            <input hidden="true" name="product_area_id" value="{{ product_area.id }}">
            <button class="ui violet button" tabindex="0" type="submit">
                Save Changes
            </button>
            <a href="/productAreas" class="ui red button" tabindex="0" type="submit">
                Cancel
            </a>
            <div class="ui error message">
            </div>
        </form>
    {% endblock %}
