{% extends "menu_bar.html" %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href="static/flatpickr.min.css">
        <script src="static/flatpickr.min.js"></script>
        <script src="static/index.js"></script>
        <script src="static/addFeature.js"></script>
    {% endblock %}
    {% block content %}
        <form class="ui form segment" action="/editFeature" method="POST">
            <h3 class="ui dividing header">Edit Feature Request</h3>
            <div class="field">
                <label>Title</label>
                <input type="text" name="request_title"
                    value="{{ feature_request.title }}">
            </div>
            <div class="field">
                <label>Description</label>
                <input type="text" name="request_description"
                    value="{{ feature_request.description }}">
            </div>
            <div class="field">
                <label>Client</label>
                <select id="client" class="ui fluid dropdown" name="client">
                    <option value="{{feature_request.client_id}}">
                        {{feature_request.client.name}}
                    </option>
                </select>
            </div>
            <div class="field">
                <label>Priority</label>
                <input type="number" name="client_priority"
                    value="{{ feature_request.client_priority }}">
            </div>
            <div class="field">
                <label>Target Date</label>
                <input id="target-date" type="text" class="flatpickr"
                    data-enable-time="false" name="target_date"
                    value="{{ feature_request.target_date }}">
            </div>
            <div class="field">
                <label>Product Area</label>
                <select id="product_area" class="ui fluid dropdown" name="product_area">
                    <option value="{{ feature_request.product_area_id }}">
                        {{ feature_request.product_area.name }}
                    </option>
                </select>
            </div>
            <div class="field">
                <label>URL</label>
                <input type="text" name="ticket_url"
                    value="{{ feature_request.ticket_url }}">
            </div>
            <input hidden="true" name="feature_request_id" value="{{ feature_request.id }}">
            <button class="ui violet button" tabindex="0" type="submit">
                Submit Feature Request
            </button>
            <a href="/" class="ui red button" tabindex="0">
                Cancel
            </a>
            <div class="ui error message">
            </div>
        </form>
    {% endblock %}
