{% extends "menu_bar.html" %}
    {% block head %}
        {{ super() }}
        <script src="static/index.js"></script>
    {% endblock %}
    {% block content %}

        <h2> Feature Requests </h2>

        <table class="ui celled padded violet table">
            <thead>
                <tr>
                    <th class="single line">Title</th>
                    <th>Description</th>
                    <th>Client</th>
                    <th>Client Priority</th>
                    <th>Product Area</th>
                    <th>Target Date</th>
                    <th>Ticket URL</th>
                    <th>Created By</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for feature_request in feature_requests %}
                    <tr>
                        <td>
                            <h4 class="ui center aligned header">
                                {{ feature_request.title }}
                            </h4>
                        </td>
                        <td> {{feature_request.description}} </td>
                        <td> {{ feature_request.client_id }} </td>
                        <td> {{ feature_request.client_priority }} </td>
                        <td> {{ feature_request.product_area_id }} </td>
                        <td class="single line">
                            {{ feature_request.target_date.strftime('%b %d, %Y') }}
                        </td>
                        <td>
                            <a href="{{ 'http://'+feature_request.ticket_url }}">
                                {{ feature_request.ticket_url }}
                            </a>
                        </td>
                        <td> {{ feature_request.user_id }} </td>
                        <td class="single line">
                            <form action="/editFeature" method="POST">
                                <button class="ui icon violet button" value="{{feature_request.id}}"
                                    name="edit_feature_request">
                                    <i class="edit icon"></i>
                                </button>
                            </form>
                            {% if feature_request.date_finished == None %}
                                <button class="ui icon green button">
                                    <i class="check icon"></i>
                                </button>
                            {%else%}
                                <button class="ui icon green button disabled">
                                    <i class="check icon"></i>
                                </button>
                            {% endif %}
                            <form action="/deleteFeature" method="POST">
                                <button class="ui icon red button" value="{{feature_request.id}}"
                                    name="feature_request_id">
                                    <i class="delete icon"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot class="full-width">
                <tr>
                    <th colspan="9">
                        <a class="ui right floated button violet" href="/addFeature">
                            <i class="plus icon"></i>
                            Add Feature Request
                        </a>
                    </th>
                </tr>
            </tfoot>
        </table>
    {% endblock %}
