{% extends "menu_bar.html" %}
    {% block head %}
        {{ super() }}
        <script src="static/index.js"></script>
    {% endblock %}
    {% block content %}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="ui violet message">
                    <i class="close icon"></i>
                    <div class="header">
                        Featurette
                    </div>
                    {%for message in messages%}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        
        <h2> Feature Requests </h2>

        <table class="ui celled padded violet table">
            <thead>
                <tr>
                    <th class="single line">Title</th>
                    <th>Description</th>
                    <th>Client</th>
                    <th>Client Priority</th>
                    <th>Product Area</th>
                    <th>Target Date</th>
                    <th>Ticket URL</th>
                    <th>Last Edited By</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for feature_request in feature_requests %}
                    <tr>
                        <td>
                            <h4 class="ui center aligned header">
                                {{ feature_request.title }}
                                {% if feature_request.date_finished != None %}
                                    <i class="large green checkmark icon"></i>
                                {% endif %}
                            </h4>
                        </td>
                        <td> {{feature_request.description}} </td>
                        <td> {{ feature_request.client.name }} </td>
                        <td> {{ feature_request.client_priority }} </td>
                        <td> {{ feature_request.product_area.name }} </td>
                        <td class="single line">
                            {{ feature_request.target_date.strftime('%b %d, %Y') }}
                        </td>
                        <td>
                            <a href="{{ 'http://'+feature_request.ticket_url }}">
                                {{ feature_request.ticket_url }}
                            </a>
                        </td>
                        <td> {{ feature_request.user.username }} </td>
                        <td class="single line">
                            <form action="/editFeature" method="GET">
                                {% if feature_request.date_finished == None%}
                                    <button class="ui icon violet button" value="{{feature_request.id}}"
                                        name="edit_feature_request">
                                        <i class="edit icon"></i>
                                    </button>
                                {%else%}
                                    <button class="ui icon violet disabled button">
                                        <i class="edit icon"></i>
                                    </button>
                                {% endif %}
                            </form>
                            {% if feature_request.date_finished == None %}
                                <form action="/finishFeature" method="post">
                                    <button class="ui icon green button" name="feature_request_id"
                                        value="{{ feature_request.id }}">
                                        <i class="check icon"></i>
                                    </button>
                                </form>
                            {%else%}
                                <button class="ui icon green button disabled">
                                    <i class="check icon"></i>
                                </button>
                            {% endif %}
                            <form action="/deleteFeature" method="POST">
                                <button class="ui icon red button" value="{{feature_request.id}}"
                                    name="feature_request_id">
                                    <i class="delete icon"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot class="full-width">
                <tr>
                    <th colspan="9">
                        <a class="ui right floated button violet" href="/addFeature">
                            <i class="plus icon"></i>
                            Add Feature Request
                        </a>
                    </th>
                </tr>
            </tfoot>
        </table>
    {% endblock %}
