<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="static/semantic.min.css">
        <script src="static/semantic.min.js"></script>
    </head>
    <body>
        <div class="ui top fixed menu">
          <div class="item">
            <img src="images/coding.png">
          </div>
          <a class="item">Features</a>
          <a class="item">Testimonials</a>
        </div>
        <a class="item">Sign-in</a>
        {% block content %}{% endblock %}
        <div class="ui bottom fixed menu">
          <div class="item">
            <img src="images/coding.png">
          </div>
          <a class="item">Features</a>
          <a class="item">Testimonials</a>
          <a class="item">Sign-in</a>
        </div>
        <div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </body>

</html>
