<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="static/semantic.min.css">
        <script src="static/semantic.min.js"></script>
    </head>
    <body>
        <div class="ui secondary pointing menu">
            <a class="item">
                <img src="/static/images/coding.png">
            </a>
            <a class="item active">
                Home
            </a>
            <a class="item">
            Messages
            </a>
            <a class="item">
            Friends
            </a>
            <div class="right menu">
            <a class="ui item">
              Logout
            </a>
        </div>
        </div>
        <div class="ui segment">
            {% block content %}{% endblock %}
        </div>
        <div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </body>
</html>
