{% extends "menu_bar.html" %}
    {% block head %}
        {{ super() }}
        <script type="text/javascript" src="static/productAreas.js"></script>
        <script type="text/javascript" src="static/deleteProductArea.js"></script>
    {% endblock %}
    {% block content %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="ui violet message">
                    <i class="close icon"></i>
                    <div class="header">
                        Featurette
                    </div>
                    {%for message in messages%}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <h2> Product Areas </h2>

        <table class="ui sortable celled padded violet table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr id="productAreasTable" data-bind="foreach: { data: productAreas, as: 'productArea' }">
                    <td data-bind="text: productArea.name"> </td>
                    <td class="single line">
                        <a class="edit ui icon violet button" value="productArea.id">
                            <i class="edit icon"> </i>
                        </a>
                        <a class="delete ui icon red button" value="productArea.id">
                            <i class="delete icon"> </i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot class="full-width">
                <tr>
                    <th colspan="2">
                        <a id="add_product_area" class="ui right floated button violet" href="/addProductArea">
                            <i class="plus icon"></i>
                            Add Product Area
                        </a>
                    </th>
                </tr>
            </tfoot>
        </table>
    {% endblock %}
