{% extends "menu_bar.html" %}
    {% block head %}
        {{ super() }}
        <script src="static/productAreas.js"></script>
    {% endblock %}
    {% block content %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="ui violet message">
                    <i class="close icon"></i>
                    <div class="header">
                        Featurette
                    </div>
                    {%for message in messages%}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <h2> Product Areas </h2>

        <table class="ui celled padded violet table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product_area in product_areas %}
                    <tr>
                        <td>{{ product_area.name }}</td>
                        <td class="single line">
                            <form action="/editProductArea" method="GET">
                                <button id="edit_product_area" class="ui icon violet button" name="product_area_id"
                                    value="{{ product_area.id }}">
                                    <i class="edit icon"></i>
                                </button>
                            </form>
                            <form id="delete_product_area" action="/deleteProductArea" method="POST">
                                <button class="ui icon red button" type="submit"
                                    name="product_area_id" value="{{ product_area.id }}">
                                    <i class="delete icon"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot class="full-width">
                <tr>
                    <th colspan="2">
                        <a id="add_product_area" class="ui right floated button violet" href="/addProductArea">
                            <i class="plus icon"></i>
                            Add Product Area
                        </a>
                    </th>
                </tr>
            </tfoot>
        </table>
    {% endblock %}
