{% extends "menu_bar.html" %}
    {% block head %}
        {{ super() }}
        <script src="static/users.js"></script>
    {% endblock %}
    {% block content %}
        <h2> Users </h2>

        <div class="ui violet message">
            <i class="close icon"></i>
            <div class="header">
                Notification
            </div>
            <p id="messageSpace"></p>
        </div>

        <table class="ui sortable celled padded violet table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="usersTable" data-bind="foreach: users">
                <tr>
                    <td data-bind="text: username"> </td>
                    <td data-bind="text: email"> </td>
                    <td class="single line">
                        <a class="edit ui icon violet button" data-bind="click: $parent.editUser">
                            <i class="edit icon"> </i>
                        </a>
                        <a class="delete ui icon red button" data-bind="click: $parent.deleteUser">
                            <i class="delete icon"> </i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot class="full-width">
                <tr>
                    <th colspan="3">
                        <a id="add_user" class="ui right floated button violet" href="/addUser">
                            <i class="add user icon"></i>
                            Add User
                        </a>
                    </th>
                </tr>
            </tfoot>
        </table>
    {% endblock content %}
